@use "globals";
@use "extenders/focus";

@mixin render {
	* {
		box-sizing: border-box;

		&:focus {
			@extend %focus;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0 0 globals.$space-bottom;
	}

	ul,
	ol {
		margin: 0 0 calc(globals.$space-bottom * 0.5);
		padding: 0 0 0 globals.$space-bottom;

		li {
			padding: 0 0 calc(globals.$space-bottom * 0.5);
		}
	}

	blockquote {
		margin: 0 0 globals.$space-bottom;
		padding: globals.$space-top globals.$space-right 0 globals.$space-left;
		overflow: hidden;
		background-color: lightgray;

		cite {
			margin: 0 0 globals.$space-bottom;
		}

		&.is-layout-flow {
			p:last-child {
				@extend p;
			}
			cite:last-child {
				@extend cite;
			}
		}
	}
}